/*vores farver til websiderne*/
:root {
  --rød:  #B04141;
  --sort: #0c0c0c;
  --hvid: rgb(255, 255, 255); 
  --orange: #EDA058;
}

/*basic til start af websiderne. For at fjerne indbygget margin osv.*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Main css*/
.tekst {
   text-align: center;
   padding: 1rem;
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
   font-size: 0.8rem;
}
.tekst2 {
   text-align: center;
   padding-top: 1rem;
   padding-bottom: 3rem;
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
   font-size: 0.7rem;
}
h4 {
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/
   text-align: center;
   font-size: 1rem;
   font-weight: 500;
   padding-top: 2rem;
   padding-bottom: 1rem;
   margin-bottom: -1rem;
}
.billeder {
   display: flex;
   justify-content: center;
   gap: 0.3rem;
   padding-top: 1rem;
}

/*form*/
input[type=text], select {
   width: 50%;
   border: 0.15rem solid #EDA058;
   padding: 0.3rem;
   margin-left: 23%;
   margin-top: -10rem;
}
#besked {
   width: 50%;
   border: 0.15rem solid #EDA058;
   padding: 0.3rem;
   margin-left: 23%;
}
input[type=date], select {
   width: 50%;
   border: 0.15rem solid #EDA058;
   padding: 0.3rem;
   margin-left: 23%;
   margin-top: -10rem;
}
input[type=time], select {
   width: 50%;
   border: 0.15rem solid #EDA058;
   padding: 0.3rem;
   margin-left: 23%;
   margin-top: -10rem;
}
#bestil {
   width: 40%;
   background-color: #EDA058;
   padding: 0.6rem;
   margin-left: 30%;
   margin-top: 3rem;
   margin-bottom: 3rem;
   color: white;
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
}
#antal {
   width: 20%;
   border: 0.15rem solid #EDA058;
   padding: 0.3rem;
   margin-left: 39%;
   margin-top: -10rem;
}



/*Footer style*/

  /*footer udseende*/
  .footer {
    background-color: var(--rød);
    padding-top: 3%;
    padding-bottom: 3%;
 }

 /*størrelse på iconer*/
 .iconer {
    width: auto;
    height: 20px;
 }

 /*For at få iconerne til at være nederst på siden*/
 .iconerto {
    order: 1;
 }

 /*For at fjerne stregen under pga link*/
 .iconer-ingenstreg {
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
 }

 /*placering af indhold i footer*/
 .footerdisplay {
    background-color: var(--rød);
    display: flex;
    flex-direction: column;
    align-items: center;

 }

 /*tekst der skal markeres i footer*/
 .fedskriftfooter {
    font-weight: bolder;
 }

 /*For at lave overskrifterne større end teksten*/
 .overskriftfooter {
    font-size: 1rem;
 }

 /*font type*/
 .tekstfooter {
    font-family: "Radio Canada", sans-serif; /*font fundet på google*/
    color: var(--hvid);
    line-height: 1.5;
    font-size: 0.75rem;
    text-align: center;
 }

@media screen and (min-width: 992px) {
   /*Main til desktop*/
   .top {
      height: 28rem;
   }
   .tekst {
      font-size: 1.2rem;
      padding: 2rem;
   }
   .tekst2 {
      font-size: 1rem;
   }
   h4 {
      font-size: 1.8rem;
      padding-top: 3rem;
   }
   .billeder {
      gap: 0.8rem;
   }
   
   /*form*/
   input[type=text], select {
      width: 30%;
      margin-left: 34%;
   }
   input[type=date], select {
      width: 20%;
      margin-left: 39%;
   }
   input[type=time], select {
      width: 20%;
      margin-left: 39%;
   }
   #bestil {
      width: 20%;
      margin-left: 40%;
   }
   #antal {
      width: 7%;
      margin-left: 46%;
   }


    /*Footer style til desktop*/

 /*størrelse på iconer*/
 .iconer {
    width: auto;
    height: 30px;
 }

 /*For at få iconerne til at være i midten på siden øverst placeret i iconernes section*/
 .iconerto {
    order: unset;
    align-self: start;
  }

 /*placering af indhold i footer*/
 .footerdisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
 }

  /*Ændring af overskriftens font size*/
  .overskriftfooter {
    font-size: 1.15rem;
 }

 /*Ændring af font size*/
 .tekstfooter {
    font-size: 0.85rem;
 }
}