
.header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    /* I've added 4 lines of code here */
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 8px;
  }

/*style footer*/
.footer {
    background-color
}


