
:root {
    --rød:  #B04141;
    --sort: #0c0c0c;
    --hvid: rgb(255, 255, 255); 
    --orange: #EDA058;
  }
  
 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

/*Style header*/
.header {
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 16px;
    padding: 0 8px;
     /* Fastgør menu-containeren øverst på siden */
    top: 0; /* Placer menu-containeren i toppen af vinduet */
    left: 0; /* Placer menu-containeren helt til venstre i vinduet */
    width: 100%; /* Gør menu-containeren 100% bredde */
    
  }

  .header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.header li {
    margin: 30px;
    display:inline-flex;
    justify-content: flex-end;
    margin-top: 60px;
   
  }

.header a {
    text-decoration: none; /* Fjerner strejerne under overskrifterne*/
    color:var(--sort);
    font-family:Radio Canada; /* Denne font er blevet tager fra Google Fonts, og er linket i head i html*/
    font-weight: 400;
    font-size: 24px;
    font-style: normal;

  }


/*Style logo*/
.logo{
    margin: 30px;
  
}

/*style footer*/
.footer {
    background-color: var(--rød);
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*størrelse på iconer*/
.iconer {
    width: auto;
    height: 30px;
}

/*placering af indhold i footer*/
.footerdisplay {
    background-color: var(--rød);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*tekst der skal markeres i footer*/
.fedskriftfooter {
    font-weight: bolder;
}

/*font type*/
.tekstfooter {
    font-family:Radio Canada, sans-serif; /*font fundet på google*/
}
