/*vores farver til websiderne*/
:root {
    --rød:  #B04141;
    --sort: #0c0c0c;
    --hvid: rgb(255, 255, 255); 
    --orange: #EDA058;
  }
  
  /*basic til start af websiderne. For at fjerne indbygget margin osv.*/
 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

/*mobil version*/

/*header*/

/*justering af logo*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 2rem;
    width: 8rem;
    height: 7.5rem;
  }

/*vælg restaurant*/

.restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

h1 {
    font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5rem;
    font-weight: 500;
}
.billeder {
    display: flex;
    max-width: 100%;
    width: auto;
    height: 10rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.tekst {
    display: flex;
    max-width: 100%;
    text-align: center;
    font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
    font-size: 0.8rem;
}
.billede1 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-right: 0.5rem;
    width: auto;
}
.billede2 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-left: 0.5rem;
    width: auto;
}
.tekst1 {
    align-self: center;
    margin-right: 2.5rem;
    margin-top: -3rem;
}
.tekst2 {
    align-self: center;
}

/*styling af footer*/
.ikoner {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 1.5rem;
    justify-content: space-around;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}


/*Desktop version*/
@media only screen and (min-width: 700px) {
    h1 {
        font-size: 2.5rem;
    }
    .billeder {
        height: 20rem;
        margin-top: 2rem;
        margin-left: 16rem;
        margin-right: 19rem;
    }
    .tekst {
        font-size: 1.1rem;
    }
    .ikoner {
        margin-top: 6rem;
        margin-left: 25rem;
        margin-right: 25rem;
        margin-bottom: 2rem;

    }
    .tekst1 {
        margin-right: 9rem;
        margin-left: -3rem;
        margin-top: -4rem;
        align-self: center;
    }
    .tekst2 {
        align-self: center;
    }
}