/*vores farver til websiderne*/
:root {
    --rød:  #B04141;
    --sort: #0c0c0c;
    --hvid: rgb(255, 255, 255); 
    --orange: #EDA058;
  }
  
  /*basic til start af websiderne. For at fjerne indbygget margin osv.*/
 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

/*mobil version*/

/*header*/

/*justering af logo*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 7rem;
    height: 7rem;
  }

/*vælg restaurant*/

h1 {
    font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.billeder {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
}
.tekst {
   display: flex;
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
   text-align: center;
   font-size: 1rem;
   justify-content: space-evenly;
   position: relative;
   margin-top: 3%;
   gap: 2rem;
}
.billede1 {
    margin-left: 0.5rem;
}
.billede2 {
    margin-right: 0.6rem;
}
.billede1:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.billede2:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
img {
    width: 100%;
    height: 100%;
}


/*styling af footer*/
.ikoner {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: auto;
    width: auto;
    gap: 1rem;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}


/*Desktop version*/
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
    .billeder {
        height: 20rem;
        margin-top: 4rem;
        margin-left: 16rem;
        margin-right: 19rem;
    }
    .tekst {
        font-size: 1.2rem;
        gap: 2rem;
        margin-left: -4rem;
        margin-top: 4rem;
    }
    .ikoner {
        margin-top: 6rem;
        margin-left: 25rem;
        margin-right: 25rem;
        margin-bottom: 2rem;
        height: 4rem;
        width: auto;
    }
    .teskt1 {
        margin-left: -7rem;
    }
    .tekst2 {
        margin-left: -15rem;
    }

}