/*vores farver til websiderne*/
:root {
    --rød:  #B04141;
    --sort: #0c0c0c;
    --hvid: rgb(255, 255, 255); 
    --orange: #EDA058;
  }
  
  /*basic til start af websiderne. For at fjerne indbygget margin osv.*/
 * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }

/*mobil version*/

/*header*/

/*justering af logo*/
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    text-align: center;
  }

/*vælg restaurant*/

h1 {
    font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
.restauranter {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    gap: 1rem;
}
.overskrift {
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
   font-size: 0.9rem;
   text-align: center;
   padding-top: 1rem;
   justify-content: center;
}
.tekst {
   font-family: "Radio Canada", sans-serif; /*hentet fra Google Fonts*/;
   font-size: 0.9rem;
   text-align: center;
}
.billede1 {
    margin-left: 0.5rem;
}
.billede2 {
    margin-right: 0.5rem;
}
img {
    height: auto;
    max-width: 100%;
}
.valg:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


/*styling af footer*/
.ikoner {
    display: flex;
    max-width: 100%;
    height: auto;
    width: auto;
    gap: 1rem;
    justify-content: center;
    margin-top: 4rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 1rem;
}


/*Desktop version*/
@media only screen and (min-width: 992px) {
    h1 {
        font-size: 2.5rem;
    }
    .tekst {
        font-size: 1.2rem;
    }
    .overskrift {
        font-size: 1.5rem;
    }
    .ikoner {
        margin-bottom: 4rem;
        margin-top: 10rem;
        gap: 10rem;
    }
    .teskt1 {
        margin-left: -7rem;
    }
    .tekst2 {
        margin-left: -15rem;
    }

}